<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <!-- Serilog configuration -->
    <!-- See https://github.com/serilog/serilog/wiki/AppSettings for details -->
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:write-to:ColoredConsole" />
    <add key="serilog:write-to:RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="Logs\log-{Date}.txt" />
         
    <!-- Quartz configuration -->
    <add key="quartz.scheduler.instanceName" value="MK6.Clockwork" />
    <add key="quartz.plugin.xml.type" value="Quartz.Plugin.Xml.XMLSchedulingDataProcessorPlugin, Quartz" />
    <add key="quartz.plugin.xml.fileNames" value="~/quartz_jobs.xml" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>
